go 1.25.0

use (
	./AirplaneBooking
	./CacheStampade
	./ConnectionPool
	./CountPrime
	./CountPrime/CountPrimeConcurrent
	./CountPrime/CountPrimeConcurrentFair
	./ServerSideEvents
	./ConcurrentQueue
	./utils
	./Kafka
)
